.chart-container {
    width: 90%;
    height: 400px;
}

.chart-container-with-extra-space {
    width: 90%;
    height: 400px;
    margin-bottom: 70px;
}

.chart-canvas-container {
    display: inline-block;
    float: left;
    width: 80%;
    height: 90%;
}

.chart-statistics-container {
    display: inline-block;
    float: right;
    width: 20%;
    height: 90%;
}

.metric-explanation {
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 9999;
}

.loading_spinner {
    width: 3rem;
    height: 3rem;
    margin-top: 25%;
}

.loading_button {
    width:14rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.sidebar {
    height: 100%;
}

.sidebar .nav {
    padding-top: 12px;
}

.sidebar .nav button:not(:first-child):not(:last-child) {
    margin: 6px 0 6px 0;
}

.sidebar .nav button:first-child {
    margin: 0 0 6px 0;
}

.sidebar .nav button:last-child {
    margin: 6px 0 0 0;
}

.tab-content {
    padding-top: 12px;
}
