html,
body {
    height: 100%;
}

.chart_container {
    width: 90%;
    height: 400px;
}

.chart-canvas-container {
    display: inline-block;
    width: 80%;
    height: 90%;
    float: left;
}

.chart-statistics-container {
    display: inline-block;
    width: 20%;
    height: 90%;
    float: right;
}

.metric_explanation {
}