<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Title</title>

        <link rel="stylesheet" type="text/css" href="/assets/css/dist/main.css" />
        <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
        />
    </head>

    <body>
        <header data-header></header>
        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar position-fixed">
                    <div
                        class="nav flex-column nav-pills"
                        role="tablist"
                        aria-orientation="vertical"
                    >
                        <button
                            class="nav-link active"
                            id="pull-requests-tab"
                            data-bs-toggle="pill"
                            data-bs-target="#pull-requests"
                            type="button"
                            role="tab"
                            aria-controls="pull-requests"
                            aria-selected="true"
                        >
                            Pull Requests
                        </button>
                        <button
                            class="nav-link"
                            id="commits-tab"
                            data-bs-toggle="pill"
                            data-bs-target="#commits"
                            type="button"
                            role="tab"
                            aria-controls="commits"
                            aria-selected="false"
                        >
                            Commits
                        </button>
                        <button
                            class="nav-link"
                            id="issues-tab"
                            data-bs-toggle="pill"
                            data-bs-target="#issues"
                            type="button"
                            role="tab"
                            aria-controls="issues"
                            aria-selected="false"
                        >
                            Issues
                        </button>
                    </div>
                </nav>
                <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                    <div class="tab-content">
                        <div
                            class="tab-pane show active"
                            id="pull-requests"
                            role="tabpanel"
                            aria-labelledby="pull-requests-tab"
                        >
                            <div class="chart-container" id="pr_open_durations_container">
                                <h4>Pull request open duration in hours</h4>
                                <p class="metric-explanation"></p>
                                <div class="chart-canvas-container">
                                    <canvas
                                        class="svg-container chart-canvas"
                                        data-metric="Pull request open duration"
                                    ></canvas>
                                </div>
                                <div
                                    class="chart-statistics-container"
                                    data-metric="Pull request open duration"
                                ></div>
                            </div>

                            <hr class="border-3 border-bottom" />

                            <div
                                class="chart-container"
                                id="pr_open_durations_in_buckets_container"
                            >
                                <h4>Pull request open durations in buckets overall</h4>
                                <p class="metric-explanation"></p>
                                <div class="chart-canvas-container">
                                    <canvas
                                        class="svg-container chart-canvas"
                                        data-metric="Pull request open durations in buckets overall"
                                    ></canvas>
                                </div>
                                <div
                                    class="chart-statistics-container"
                                    data-metric="Pull request open durations in buckets overall"
                                ></div>
                            </div>

                            <hr class="border-3 border-bottom" />

                            <div
                                class="chart-container"
                                id="pr_open_durations_in_buckets_sprint_segmented_container"
                            >
                                <h4>Pull request open durations in buckets per sprint</h4>
                                <p class="metric-explanation"></p>
                                <div class="chart-canvas-container">
                                    <canvas
                                        class="svg-container chart-canvas"
                                        data-metric="Pull request open durations in buckets per sprint"
                                    ></canvas>
                                </div>
                                <div
                                    class="chart-statistics-container"
                                    data-metric="Pull request open durations in buckets per sprint"
                                ></div>
                            </div>
                        </div>
                        <div
                            class="tab-pane"
                            id="commits"
                            role="tabpanel"
                            aria-labelledby="commits-tab"
                        >
                            <div class="chart-container" id="commit_times_container">
                                <h4>Commit times</h4>
                                <p class="metric-explanation"></p>
                                <div class="chart-canvas-container">
                                    <canvas
                                        class="svg-container chart-canvas"
                                        data-metric="Commit times"
                                    ></canvas>
                                </div>
                                <div
                                    class="chart-statistics-container"
                                    data-metric="Commit times"
                                ></div>
                            </div>

                            <hr class="border-3 border-bottom" />

                            <div class="chart-container" id="commit_amounts_container">
                                <h4>Commit amounts per sprint</h4>
                                <p class="metric-explanation"></p>
                                <div class="chart-canvas-container">
                                    <canvas
                                        class="svg-container chart-canvas"
                                        data-metric="Commit amounts per sprint"
                                    ></canvas>
                                </div>
                                <div
                                    class="chart-statistics-container"
                                    data-metric="Commit amounts per sprint"
                                ></div>
                            </div>
                        </div>
                        <div
                            class="tab-pane"
                            id="issues"
                            role="tabpanel"
                            aria-labelledby="issues-tab"
                        >
                            <div class="chart-container" id="issues_sizes_in_buckets_container">
                                <h4>Issue sizes</h4>
                                <p class="metric-explanation"></p>
                                <div class="chart-canvas-container">
                                    <canvas
                                        class="svg-container chart-canvas"
                                        data-metric="Issue sizes"
                                    ></canvas>
                                </div>
                                <div
                                    class="chart-statistics-container"
                                    data-metric="Issue sizes"
                                ></div>
                            </div>

                            <hr class="border-3 border-bottom" />

                            <div class="chart-container" id="issues_sizes_container">
                                <h4>Issue sizes in buckets</h4>
                                <p class="metric-explanation"></p>
                                <div class="chart-canvas-container">
                                    <canvas
                                        class="svg-container chart-canvas"
                                        data-metric="Issue sizes in buckets"
                                    ></canvas>
                                </div>
                                <div
                                    class="chart-statistics-container"
                                    data-metric="Issue sizes in buckets"
                                ></div>
                            </div>

                            <hr class="border-3 border-bottom" />

                            <div class="chart-container" id="issues_submit_times_container">
                                <h4>Issue submit times</h4>
                                <p class="metric-explanation"></p>
                                <div class="chart-canvas-container">
                                    <canvas
                                        class="svg-container chart-canvas"
                                        data-metric="Issue submit times"
                                    ></canvas>
                                </div>
                                <div
                                    class="chart-statistics-container"
                                    data-metric="Issue submit times"
                                ></div>
                            </div>


                            <hr class='border-3 border-bottom' />

                            <div class='chart_container' id='top_issue_submitters_container'>
                                <h4>Top issue submitters</h4>
                                <p class='metric_explanation'></p>
                                <div class='chart-canvas-container'>
                                    <canvas
                                      class='svg-container chart-canvas'
                                      data-metric='Top issue submitters'
                                    ></canvas>
                                </div>
                                <div
                                  class='chart-statistics-container'
                                  data-metric='Top issue submitters'
                                ></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"
        ></script>

        <script type="module" src="/assets/components/components.js"></script>
        <script type="module" src="/assets/js/home.js"></script>
    </body>
</html>
