<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8' />
    <title>Title</title>
    <link
        href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'
        rel='stylesheet'
    />

    <link rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css'>
    <link rel='stylesheet' type='text/css' href='/assets/css/dist/main.css'>
</head>
<body>
<template id='template_input_sprint'>
    <div class='input_sprint'>
        <label for='sprint_begin'>From: </label>
        <input class='form-control' id='sprint_begin' type='date' />
        <label for='sprint_end'>to: </label>
        <input class='form-control' id='sprint_end' type='date' />
    </div>
    <br />
</template>

<nav class='navbar navbar-expand-md navbar-dark bg-dark mb-4'>
    <div class='navbar-brand'>Agile Metrics</div>
    <div class='collapse navbar-collapse'>
        <ul class='navbar-nav mr-auto'>
            <li class='nav-item active'>
                <a
                    class='nav-link'
                    href='/repositoryguide/view/home.html'
                    id='button_navigate_home'
                >
                    <i class='fa fa-home' aria-hidden='true'></i>
                    Home
                </a>
            </li>
            <li class='nav-item'>
                <a
                    class='nav-link'
                    href='/repositoryguide/view/team/overview.html'
                    id='button_navigate_teams'
                >
                    Teams
                </a>
            </li>
            <li class='nav-item'>
                <a
                    class='nav-link'
                    href='/repositoryguide/view/sprint/overview.html'
                    id='button_navigate_sprint'
                >
                    Sprints
                </a>
            </li>
            <li class='nav-item'>
                <a
                    class='nav-link'
                    href='/repositoryguide/view/settings.html'
                    id='button_navigate_settings'
                >
                    <i class='fa fa-cogs' aria-hidden='true'></i>
                    Settings
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class='card container' id='settings_container'>
    <div class='card-header'>
        <h3>Home</h3>
    </div>
    <div class='form-group card-body'>
        <ul class='nav nav-tabs' id='myTab' role='tablist'>
            <li class='nav-item' role='presentation'>
                <button
                    class='nav-link active'
                    id='nav-pull-request-tab'
                    data-bs-toggle='tab'
                    data-bs-target='#pull-requests'
                    type='button'
                    role='tab'
                    aria-controls='nav-pull-requests'
                    aria-selected='true'
                >
                    Pull Requests
                </button>
            </li>
            <li class='nav-item' role='presentation'>
                <button
                    class='nav-link'
                    id='nav-commits-tab'
                    data-bs-toggle='tab'
                    data-bs-target='#commits'
                    type='button'
                    role='tab'
                    aria-controls='nav-commits'
                    aria-selected='false'
                >
                    Commits
                </button>
            </li>
            <li class='nav-item' role='presentation'>
                <button
                    class='nav-link'
                    id='nav-issues-tab'
                    data-bs-toggle='tab'
                    data-bs-target='#issues'
                    type='button'
                    role='tab'
                    aria-controls='issues'
                    aria-selected='false'
                >
                    Issues
                </button>
            </li>
        </ul>
        <br />
        <div class='tab-content'>
            <div
                class='tab-pane active show'
                id='pull-requests'
                role='tabpanel'
                aria-labelledby='nav-pull-request-tab'
            >
                <div class='chart_container' id='pr_closing_times_container'>
                    <h4>Pull request closing times</h4>
                    <p class='metric_explanation'></p>
                    <div class='chart-canvas-container'>
                        <canvas
                            class='svg-container chart-canvas'
                            data-metric='Pull request closing times'
                        ></canvas>
                    </div>
                    <div
                        class='chart-statistics-container'
                        data-metric='Pull request closing times'
                    ></div>
                </div>

                <hr class='border-3 border-bottom' />

                <div class='chart_container' id='pr_closing_times_in_buckets_container'>
                    <h4>Pull request closing times in buckets overall</h4>
                    <p class='metric_explanation'></p>
                    <div class='chart-canvas-container'>
                        <canvas
                            class='svg-container chart-canvas'
                            data-metric='Pull request closing times in buckets overall'
                        ></canvas>
                    </div>
                    <div
                        class='chart-statistics-container'
                        data-metric='Pull request closing times in buckets overall'
                    ></div>
                </div>

                <hr class='border-3 border-bottom' />

                <div
                    class='chart_container'
                    id='pr_closing_times_in_buckets_sprint_segmented_container'
                >
                    <h4>Pull request closing times in buckets per sprint</h4>
                    <p class='metric_explanation'></p>
                    <div class='chart-canvas-container'>
                        <canvas
                            class='svg-container chart-canvas'
                            data-metric='Pull request closing times in buckets per sprint'
                        ></canvas>
                    </div>
                    <div
                        class='chart-statistics-container'
                        data-metric='Pull request closing times in buckets per sprint'
                    ></div>
                </div>
            </div>
            <div
                class='tab-pane'
                id='commits'
                role='tabpanel'
                aria-labelledby='nav-commits-tab'
            >
                <div class='chart_container' id='commit_times_container'>
                    <h4>Commit times</h4>
                    <p class='metric_explanation'></p>
                    <div class='chart-canvas-container'>
                        <canvas
                            class='svg-container chart-canvas'
                            data-metric='Commit times'
                        ></canvas>
                    </div>
                    <div
                        class='chart-statistics-container'
                        data-metric='Commit times'
                    ></div>
                </div>

                <hr class='border-3 border-bottom' />

                <div class='chart_container' id='commit_amounts_container'>
                    <h4>Commit amounts per sprint</h4>
                    <p class='metric_explanation'></p>
                    <div class='chart-canvas-container'>
                        <canvas
                            class='svg-container chart-canvas'
                            data-metric='Commit amounts per sprint'
                        ></canvas>
                    </div>
                    <div
                        class='chart-statistics-container'
                        data-metric='Commit amounts per sprint'
                    ></div>
                </div>
            </div>
            <div
                class='tab-pane'
                id='issues'
                role='tabpanel'
                aria-labelledby='nav-issues-tab'
            >
                <div class='chart_container' id='issues_sizes_in_buckets_container'>
                    <h4>Issue sizes</h4>
                    <p class='metric_explanation'></p>
                    <div class='chart-canvas-container'>
                        <canvas
                            class='svg-container chart-canvas'
                            data-metric='Issue sizes'
                        ></canvas>
                    </div>
                    <div class='chart-statistics-container' data-metric='Issue sizes'></div>
                </div>

                <hr class='border-3 border-bottom' />

                <div class='chart_container' id='issues_sizes_container'>
                    <h4>Issue sizes in buckets</h4>
                    <p class='metric_explanation'></p>
                    <div class='chart-canvas-container'>
                        <canvas
                            class='svg-container chart-canvas'
                            data-metric='Issue sizes in buckets'
                        ></canvas>
                    </div>
                    <div
                        class='chart-statistics-container'
                        data-metric='Issue sizes in buckets'
                    ></div>
                </div>

                <hr class='border-3 border-bottom' />

                <div class='chart_container' id='issues_submit_times_container'>
                    <h4>Issue submit times</h4>
                    <p class='metric_explanation'></p>
                    <div class='chart-canvas-container'>
                        <canvas
                            class='svg-container chart-canvas'
                            data-metric='Issue submit times'
                        ></canvas>
                    </div>
                    <div
                        class='chart-statistics-container'
                        data-metric='Issue submit times'
                    ></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/toastify-js'></script>
<script src='/assets/js/home.js'></script>

</body>
</html>
