<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Title</title>

        <link rel="stylesheet" type="text/css" href="/assets/css/dist/main.css" />
        <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
        />
    </head>
    <body>
        <div class="container" id="settings_container">
            <h4>Settings</h4>
            <div class="form-group">
                <div class="input-group">
                    <table class="table">
                        <tbody>
                            <tr class="d-flex">
                                <td class="col-10">
                                    <label for="input_config_file">Load config file:</label>
                                    <input
                                        accept=".json"
                                        class="form-control-inline"
                                        id="input_config_file"
                                        type="file"
                                    />
                                </td>
                                <td class="col-2">
                                    <button
                                        class="btn btn-outline-secondary"
                                        id="button_download_config"
                                        style="float: right"
                                    >
                                        Download config
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <br />

                <div class="input-group">
                    <table class="table table-borderless">
                        <tbody>
                            <tr class="d-flex">
                                <td class="col-3">
                                    <label for="input_organization">Organization:</label>
                                </td>
                                <td class="col-9">
                                    <input
                                        class="form-control"
                                        id="input_organization"
                                        type="text"
                                    />
                                </td>
                            </tr>
                            <tr class="d-flex">
                                <td class="col-3">
                                    <label for="input_repository">Repository:</label>
                                </td>
                                <td class="col-9">
                                    <input class="form-control" id="input_repository" type="text" />
                                </td>
                            </tr>
                            <tr class="d-fflex">
                                <td class="col-3">
                                    <label for="input_team">Team:</label>
                                </td>
                                <td class="col-9">
                                    <select id="input_team" class="form-select"></select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"
        ></script>

        <script type="module" src="/assets/js/settings.js"></script>
    </body>
</html>
