<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8' />
    <title>Title</title>

    <link rel='stylesheet' type='text/css' href='/assets/css/starter.css'>
</head>
<body>
<template id='template_member_row'>
    <tr class='d-flex'>
        <td class='col-10' id='text_member_name'></td>
        <td class='col-2'>
            <button id='button_remove_member' class='btn btn-outline-secondary'>Remove</button>
        </td>
    </tr>
</template>

<nav class='navbar navbar-expand-md navbar-dark bg-dark mb-4'>
    <div class='navbar-brand'>Agile Metrics</div>
    <div class='collapse navbar-collapse'>
        <ul class='navbar-nav mr-auto'>
            <li class='nav-item'>
                <a class='nav-link' href='/view/home.html' id='button_navigate_home'>
                    <i class='bi bi-house-fill' aria-hidden='true'></i>
                    Home
                </a>
            </li>
            <li class='nav-item'>
                <a class='nav-link'
                   href='/view/team/overview.html'
                   id='button_navigate_teams'
                >
                    Teams
                </a>
            </li>
            <li class='nav-item'>
                <a
                    class='nav-link'
                    href='/view/sprint/overview.html'
                    id='button_navigate_sprint'
                >
                    Sprints
                </a>
            </li>
            <li class='nav-item'>
                <a class='nav-link'
                   href='/view/settings.html'
                   id='button_navigate_settings'
                >
                    <i class='bi bi-gear-fill' aria-hidden='true'></i>
                    Settings
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class='card container'>
    <div class='form-group card-body'>
        <h3>General Information:</h3>
        <table class='table'>
            <tbody>
            <tr class='d-flex'>
                <th class='col-6' scope='row'>Team name:</th>
                <td class='col-6' id='text_team_name'></td>
            </tr>
            <tr class='d-flex'>
                <th class='col-6' scope='row'>Team label:</th>
                <td class='col-6' id='text_team_label'></td>
            </tr>
            </tbody>
        </table>

        <h3>Members:</h3>
        <table class='table'>
            <thead>
            <tr class='d-flex'>
                <th class='col-10' scope='col'>Name</th>
                <th class='col-2' scope='col'></th>
            </tr>
            </thead>
            <tbody id='container_members'></tbody>
        </table>
    </div>
</div>

<br />

<a class='btn btn-outline-secondary' id='button_back' href='javascript:history.back()'>Back</a>

<script src='/assets/js/team_detail.js'></script>
<script type='module' src='/assets/js/starter.js'></script>
</body>
</html>
