<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8' />
    <title>Teams</title>

    <link
        rel='stylesheet'
        href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'
        integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm'
        crossorigin='anonymous'
    />
    <link
        rel='stylesheet'
        href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'
    />
</head>
<body>
<template id='template_unregistered_collaborator'>
    <tr class='d-flex'>
        <td class='col-4' id='text_collaborator_name'></td>
        <td class='col-6'>
            <label style='display: none'
                   for='select_team'
            >
                Selected team for the unregistered collaborator
            </label>
            <select id='select_team' class='form-control'>
                <option selected disabled value='none'>-- Select a team --</option>
            </select>
        </td>
        <td class='col-2'>
            <button id='button_assign' class='btn btn-outline-secondary' disabled>Assign</button>
        </td>
    </tr>
</template>
<template id='template_team_row'>
    <tr class='d-flex'>
        <td class='col-5' id='text_name'></td>
        <td class='col-5' id='text_label'></td>
        <td class='col-2'>
            <a id='link_detail_page' class='btn btn-outline-secondary' href='detail.html'>Details</a>
        </td>
    </tr>
</template>

<nav class='navbar navbar-expand-md navbar-dark bg-dark mb-4'>
    <div class='navbar-brand'>Agile Metrics</div>
    <div class='collapse navbar-collapse'>
        <ul class='navbar-nav mr-auto'>
            <li class='nav-item'>
                <a class='nav-link' href='/repositoryguide/view/home.html' id='button_navigate_home'>
                    <i class='fa fa-home' aria-hidden='true'></i>
                    Home
                </a>
            </li>
            <li class='nav-item active'>
                <a class='nav-link'
                   href='/repositoryguide/view/team/overview.html'
                   id='button_navigate_teams'
                >
                    Teams
                </a>
            </li>
            <li class='nav-item'>
                <a
                    class='nav-link'
                    href='/repositoryguide/view/sprint/overview.html'
                    id='button_navigate_sprint'
                >
                    Sprints
                </a>
            </li>
            <li class='nav-item'>
                <a class='nav-link'
                   href='/repositoryguide/view/settings.html'
                   id='button_navigate_settings'
                >
                    <i class='fa fa-cogs' aria-hidden='true'></i>
                    Settings
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class='card container'>
    <div class='card-header'>
        <h3>Unregistered Collaborators</h3>
    </div>
    <div class='form-group card-body'>
        <button
            class='form-control btn btn-outline-secondary'
            id='button_load_unregistered_collaborators_from_github'
        >
            Load unregistered collaborators from GitHub
        </button>
        <br />
        <table class='table'>
            <thead>
            <tr class='d-flex'>
                <th class='col-4' scope='col'>Name</th>
                <th class='col-6' scope='col'>Team</th>
                <th class='col-2' scope='col'></th>
            </tr>
            </thead>
            <tbody id='container_unregistered_collaborators'></tbody>
        </table>
    </div>
</div>

<br />

<div class='card container'>
    <div class='card-header'>
        <h3>Teams</h3>
    </div>
    <div class='form-group card-body'>
        <button class='form-control btn btn-outline-secondary' id='button_load_teams_from_github'>
            Load teams from GitHub
        </button>
        <br />
        <table class='table'>
            <thead>
            <tr class='d-flex'>
                <th class='col-5' scope='col'>Name</th>
                <th class='col-5' scope='col'>Label</th>
                <th class='col-2' scope='col'></th>
            </tr>
            </thead>
            <tbody id='container_teams'></tbody>
        </table>
    </div>
</div>

<br />

<a class='btn btn-outline-secondary' id='button_back' href='javascript:history.back()'>Back</a>

<script src='assets/js/team_overview.js'></script>
</body>
</html>
