<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Sprints</title>

        <link rel="stylesheet" type="text/css" href="/assets/css/dist/main.css" />
    </head>
    <body>
        <template id="template_sprint_row">
            <tr class="d-flex">
                <td class="col-6" id="text_name"></td>
                <td class="col-3" id="text_from"></td>
                <td class="col-3" id="text_to"></td>
            </tr>
        </template>

        <div class="container">
            <h4>Sprints</h4>
            <div class="form-group">
                <table class="table">
                    <thead>
                        <tr class="d-flex">
                            <th class="col-6" scope="col">Name</th>
                            <th class="col-3" scope="col">From</th>
                            <th class="col-3" scope="col">To</th>
                        </tr>
                    </thead>
                    <tbody id="container_sprints"></tbody>
                </table>
            </div>
        </div>
    </body>

    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"
    ></script>

    <script type="module" src="/assets/js/sprint_overview.js"></script>
</html>
