<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8' />
    <title>Sprints</title>

    <link
        rel='stylesheet'
        href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'
        integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm'
        crossorigin='anonymous'
    />
    <link
        rel='stylesheet'
        href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'
    />
</head>
<body>
<template id='template_sprint_row'>
    <tr class='d-flex'>
        <td class='col-6' id='text_name'></td>
        <td class='col-3' id='text_from'></td>
        <td class='col-3' id='text_to'></td>
    </tr>
</template>
<nav class='navbar navbar-expand-md navbar-dark bg-dark mb-4'>
    <div class='navbar-brand'>Agile Metrics</div>
    <div class='collapse navbar-collapse'>
        <ul class='navbar-nav mr-auto'>
            <li class='nav-item'>
                <a class='nav-link' href='/repositoryguide/view/home.html' id='button_navigate_home'>
                    <i class='fa fa-home' aria-hidden='true'></i>
                    Home
                </a>
            </li>
            <li class='nav-item'>
                <a class='nav-link'
                   href='/repositoryguide/view/team/overview.html'
                   id='button_navigate_teams'
                >
                    Teams
                </a>
            </li>
            <li class='nav-item active'>
                <a
                    class='nav-link'
                    href='/repositoryguide/view/sprint/overview.html'
                    id='button_navigate_sprint'
                >
                    Sprints
                </a>
            </li>
            <li class='nav-item'>
                <a class='nav-link'
                   href='/repositoryguide/view/settings.html'
                   id='button_navigate_settings'
                >
                    <i class='fa fa-cogs' aria-hidden='true'></i>
                    Settings
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class='card container'>
    <div class='card-header'>
        <h3>Sprints</h3>
    </div>
    <div class='form-group card-body'>
        <table class='table'>
            <thead>
            <tr class='d-flex'>
                <th class='col-6' scope='col'>Name</th>
                <th class='col-3' scope='col'>From</th>
                <th class='col-3' scope='col'>To</th>
            </tr>
            </thead>
            <tbody id='container_sprints'></tbody>
        </table>
    </div>
</div>
</body>

<script type='module'>
    import Config from '../../config.js'

    const container_sprints = document.getElementById('container_sprints')

    const config = Config.from_storage()
    const sprints = config._sprints
    initialize()

    document.getElementById('button_navigate_home').addEventListener('click', () => config.to_storage_storage())
    document.getElementById('button_navigate_teams').addEventListener('click', () => config.to_storage_storage())
    document.getElementById('button_navigate_sprint').addEventListener('click', event => event.preventDefault())
    document.getElementById('button_navigate_settings').addEventListener('click', () => config.to_storage_storage())

    function append_table_row_for_sprint(sprint, index) {
        const row = document.getElementById('template_sprint_row').content.cloneNode(true)
        const startDate = new Date(sprint.from)
        const endDate = new Date(sprint.to)

        row.getElementById('text_name').innerHTML = `Sprint ${index + 1}`
        row.getElementById('text_from').innerHTML = getDateString(startDate)
        row.getElementById('text_to').innerHTML = getDateString(endDate)

        container_sprints.appendChild(row)
    }

    function initialize() {
        config.sprints.forEach((sprint, index) => {
            append_table_row_for_sprint(sprint, index)
        })
    }

    function getDateString(date) {
        return `${date.getDate()}.${date.getMonth() + 1}.${date.getFullYear()}`
    }
</script>
</html>
