<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8' />
    <title>Title</title>

    <link
        crossorigin='anonymous'
        href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'
        integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm'
        rel='stylesheet'
    />
    <link
        href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'
        rel='stylesheet'
    />

    <style>
        html,
        body {
            height: 100%;
        }

        .chart_container {
            width: 100%;
            height: 400px;
        }

        .chart-canvas-container {
            display: inline-block;
            width: 80%;
            height: 100%;
            float: left;
        }

        .chart-statistics-container {
            display: inline-block;
            width: 20%;
            height: 100%;
            float: right;
        }
    </style>
</head>
<body>

<template id='template_input_sprint'>
    <div class='input_sprint'>
        <label for='sprint_begin'>From: </label>
        <input class='form-control' id='sprint_begin' type='date' />
        <label for='sprint_end'>to: </label>
        <input class='form-control' id='sprint_end' type='date' />
    </div>
    <br />
</template>

<nav class='navbar navbar-expand-md navbar-dark bg-dark mb-4'>
    <div class='navbar-brand'>Agile Metrics</div>
    <div class='collapse navbar-collapse'>
        <ul class='navbar-nav mr-auto'>
            <li class='nav-item active'>
                <a class='nav-link' href='/repositoryguide/view/home.html' id='button_navigate_home'>
                    <i class='fa fa-home' aria-hidden='true'></i>
                    Home
                </a>
            </li>
            <li class='nav-item'>
                <a class='nav-link'
                   href='/repositoryguide/view/team/overview.html'
                   id='button_navigate_teams'
                >
                    Teams
                </a>
            </li>
            <li class='nav-item'>
                <a
                    class='nav-link'
                    href='/repositoryguide/view/sprint/overview.html'
                    id='button_navigate_sprint'
                >
                    Sprints
                </a>
            </li>
            <li class='nav-item'>
                <a class='nav-link'
                   href='/repositoryguide/view/settings.html'
                   id='button_navigate_settings'
                >
                    <i class='fa fa-cogs' aria-hidden='true'></i>
                    Settings
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class='card container' id='settings_container'>
    <div class='card-header'>
        <h3>Home</h3>
    </div>
    <div class='form-group card-body'>
        <nav>
            <div class='nav nav-tabs' role='tablist'>
                <a class='nav-item nav-link active'
                   id='nav-pull-request-tab'
                   data-toggle='tab'
                   href='#nav-pull-requests'
                   role='tab'
                   aria-controls='nav-pull-requests'
                   aria-selected='true'>Pull requests</a>
                <a class='nav-item nav-link'
                   id='nav-commits-tab'
                   data-toggle='tab'
                   href='#nav-commits'
                   role='tab'
                   aria-controls='nav-commits'
                   aria-selected='false'>Commits</a>
                <a class='nav-item nav-link'
                   id='nav-issues-tab'
                   data-toggle='tab'
                   href='#nav-issues'
                   role='tab'
                   aria-controls='nav-issues'
                   aria-selected='false'>Issues</a>
            </div>
        </nav>
        <div class='tab-content'>
            <div class='tab-pane fade active show'
                 id='nav-pull-requests'
                 role='tabpanel'
                 aria-labelledby='nav-pull-request-tab'
            >
                <div class='chart_container'
                     id='pr_closing_times_container'>
                    <div class='chart-canvas-container'>
                        <canvas
                            class='svg-container chart-canvas'
                            data-metric-index='0'></canvas>
                    </div>
                    <div
                        class='chart-statistics-container'
                        data-metric-index='0'></div>
                </div>
                <div class='chart_container'
                     id='pr_closing_times_in_buckets_container'>
                    <div class='chart-canvas-container'>
                        <canvas
                            class='svg-container chart-canvas'
                            data-metric-index='1'></canvas>
                    </div>
                    <div
                        class='chart-statistics-container'
                        data-metric-index='1'></div>
                </div>
                <div class='chart_container'
                     id='pr_closing_times_in_buckets_sprint_segmented_container'>
                    <div class='chart-canvas-container'>
                        <canvas
                            class='svg-container chart-canvas'
                            data-metric-index='2'></canvas>
                    </div>
                    <div
                        class='chart-statistics-container'
                        data-metric-index='2'></div>
                </div>
            </div>
            <div class='tab-pane fade active show'
                 id='nav-commits'
                 role='tabpanel'
                 aria-labelledby='nav-commits-tab'
            >
                <div class='chart_container'
                     id='commit_times_container'>
                    <div class='chart-canvas-container'>
                        <canvas
                            class='svg-container chart-canvas'
                            data-metric-index='3'></canvas>
                    </div>
                    <div
                        class='chart-statistics-container'
                        data-metric-index='3'></div>
                </div>
            </div>
            <div class='tab-pane fade active show'
                 id='nav-issues'
                 role='tabpanel'
                 aria-labelledby='nav-issues-tab'
            >
                <div class='chart_container'
                     id='issues_sizes_container'>
                    <div class='chart-canvas-container'>
                        <canvas
                            class='svg-container chart-canvas'
                            data-metric-index='4'></canvas>
                    </div>
                    <div
                        class='chart-statistics-container'
                        data-metric-index='4'></div>
                </div>
                <div class='chart_container'
                     id='issues_sizes_in_buckets_container'>
                    <div class='chart-canvas-container'>
                        <canvas
                            class='svg-container chart-canvas'
                            data-metric-index='5'></canvas>
                    </div>
                    <div
                        class='chart-statistics-container'
                        data-metric-index='5'></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type='module'>
    import Config from '../config.js'
    import { metrics } from '../metrics.js'

    let config = Config.from_session_storage()

    document.getElementById('button_navigate_home').addEventListener('click', event => event.preventDefault())
    document.getElementById('button_navigate_teams').addEventListener('click', () => config.to_session_storage())
    document.getElementById('button_navigate_sprint').addEventListener('click', () => config.to_session_storage())
    document.getElementById('button_navigate_settings').addEventListener('click', () => config.to_session_storage())

    function initializeChart(chartClass, canvas, statistics_container, data, title, data_title, config) {
        const chart = new chartClass({ canvas: canvas, statistics_container: statistics_container })
        chart.data = data
        chart.title = title
        chart.data_title = data_title
        chart.config = config
        chart.draw()
    }

    ;(async () => {
        const canvases = [...document.getElementsByClassName('chart-canvas')]
        const statistic_containers = [...document.getElementsByClassName('chart-statistics-container')]
        const groups = {}

        canvases.forEach(canvas => {
            if (!groups[canvas.dataset.metricIndex]) {
                groups[canvas.dataset.metricIndex] = {}
            }
            groups[canvas.dataset.metricIndex].canvas = canvas
        })
        statistic_containers.forEach(container => {
            if (!groups[container.dataset.metricIndex]) {
                groups[container.dataset.metricIndex] = {}
            }
            groups[container.dataset.metricIndex].statistics_container = container
        })

        for (const group_key of Object.keys(groups)) {
            const metric = metrics[parseInt(group_key)]
            const group = groups[group_key]
            initializeChart(
                metric.chart_class,
                group.canvas,
                group.statistics_container,
                await metric.data_retrieval_function(config, metric.sprint_segmented),
                metric.name,
                metric.name,
                config
            )
        }
    })()
</script>

<script src='../external/bootstrap.js'></script>

</body>
</html>
