<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8' />
    <title>Title</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous"
    />
    <link
        href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'
        rel='stylesheet'
    />

    <link rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css'>

    <style>
        html,
        body {
            height: 100%;
        }

        .chart_container {
            width: 90%;
            height: 400px;
        }

        .chart_container_with_extra_space {
            width: 90%;
            height: 400px;
            margin-bottom: 70px;
        }

        .chart-canvas-container {
            display: inline-block;
            width: 80%;
            height: 90%;
            float: left;
        }

        .chart-statistics-container {
            display: inline-block;
            width: 20%;
            height: 90%;
            float: right;
        }

        .metric_explanation {
        }

        .overlay {
            position: fixed;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.5);
            z-index: 9999;
        }

        .loading_spinner {
            width: 3rem; height: 3rem; margin-top: 25%;
        }
    </style>
</head>
<body>
<template id='template_input_sprint'>
    <div class='input_sprint'>
        <label for='sprint_begin'>From: </label>
        <input class='form-control' id='sprint_begin' type='date' />
        <label for='sprint_end'>to: </label>
        <input class='form-control' id='sprint_end' type='date' />
    </div>
    <br />
</template>

<div class="overlay" id="overlay">
    <div class="d-flex justify-content-center">
        <div class="spinner-border text-light loading_spinner" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<nav class='navbar navbar-expand-md navbar-dark bg-dark mb-4'>
    <div class='navbar-brand'>Agile Metrics</div>
    <div class='collapse navbar-collapse'>
        <ul class='navbar-nav mr-auto'>
            <li class='nav-item active'>
                <a
                    class='nav-link'
                    href='/repositoryguide/view/home.html'
                    id='button_navigate_home'
                >
                    <i class='fa fa-home' aria-hidden='true'></i>
                    Home
                </a>
            </li>
            <li class='nav-item'>
                <a
                    class='nav-link'
                    href='/repositoryguide/view/team/overview.html'
                    id='button_navigate_teams'
                >
                    Teams
                </a>
            </li>
            <li class='nav-item'>
                <a
                    class='nav-link'
                    href='/repositoryguide/view/sprint/overview.html'
                    id='button_navigate_sprint'
                >
                    Sprints
                </a>
            </li>
            <li class='nav-item'>
                <a
                    class='nav-link'
                    href='/repositoryguide/view/settings.html'
                    id='button_navigate_settings'
                >
                    <i class='fa fa-cogs' aria-hidden='true'></i>
                    Settings
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class='card container' id='settings_container'>
    <div class='card-header'>
        <h3>Home</h3>
    </div>
    <div class='form-group card-body'>
        <ul class='nav nav-tabs' id='myTab' role='tablist'>
            <li class='nav-item' role='presentation'>
                <button
                    class='nav-link active'
                    id='nav-pull-request-tab'
                    data-bs-toggle='tab'
                    data-bs-target='#pull-requests'
                    type='button'
                    role='tab'
                    aria-controls='nav-pull-requests'
                    aria-selected='true'
                >
                    Pull Requests
                </button>
            </li>
            <li class='nav-item' role='presentation'>
                <button
                    class='nav-link'
                    id='nav-commits-tab'
                    data-bs-toggle='tab'
                    data-bs-target='#commits'
                    type='button'
                    role='tab'
                    aria-controls='nav-commits'
                    aria-selected='false'
                >
                    Commits
                </button>
            </li>
            <li class='nav-item' role='presentation'>
                <button
                    class='nav-link'
                    id='nav-issues-tab'
                    data-bs-toggle='tab'
                    data-bs-target='#issues'
                    type='button'
                    role='tab'
                    aria-controls='issues'
                    aria-selected='false'
                >
                    Issues
                </button>
            </li>
        </ul>
        <br />
        <div class='tab-content'>
            <div
                class='tab-pane active show'
                id='pull-requests'
                role='tabpanel'
                aria-labelledby='nav-pull-request-tab'
            >
                <div class='chart_container' id="pr_open_durations_container">
                    <h4>Pull request open duration in hours</h4>
                    <p class='metric_explanation'></p>
                    <div class='chart-canvas-container'>
                        <canvas
                            class='svg-container chart-canvas'
                            data-metric='Pull request open duration'
                        ></canvas>
                    </div>
                    <div
                        class='chart-statistics-container'
                        data-metric='Pull request open duration'
                    ></div>
                </div>

                <hr class='border-3 border-bottom' />

                <div class='chart_container' id="pr_open_durations_in_buckets_container">
                    <h4>Pull request open durations in buckets overall</h4>
                    <p class='metric_explanation'></p>
                    <div class='chart-canvas-container'>
                        <canvas
                            class='svg-container chart-canvas'
                            data-metric='Pull request open durations in buckets overall'
                        ></canvas>
                    </div>
                    <div
                        class='chart-statistics-container'
                        data-metric='Pull request open durations in buckets overall'
                    ></div>
                </div>

                <hr class='border-3 border-bottom' />

                <div
                    class='chart_container'
                    id="pr_open_durations_in_buckets_sprint_segmented_container"
                >
                    <h4>Pull request open durations in buckets per sprint</h4>
                    <p class='metric_explanation'></p>
                    <div class='chart-canvas-container'>
                        <canvas
                            class='svg-container chart-canvas'
                            data-metric='Pull request open durations in buckets per sprint'
                        ></canvas>
                    </div>
                    <div
                        class='chart-statistics-container'
                        data-metric='Pull request open durations in buckets per sprint'
                    ></div>
                </div>

                <hr class='border-3 border-bottom' />

                <div
                  class='chart_container_with_extra_space'
                  id="pr_total_interactions_container"
                >
                    <h4>Pull request total interactions</h4>
                    <p class='metric_explanation'>Is the team using pull requests extensively? See how many Pull request reviews, the comments to these reviews, reactions, comments on the Pull Requests and team relevant timeline events your pull requests receive.</p>
                    <div class='chart-canvas-container'>
                        <canvas
                          class='svg-container chart-canvas'
                          data-metric='Pull request total interactions'
                        ></canvas>
                    </div>
                    <div
                      class='chart-statistics-container'
                      data-metric='Pull request total interactions'
                    ></div>
                </div>

                <hr class='border-3 border-bottom' />

                <div
                  class='chart_container'
                  id='pr_first_review_or_comment_time'
                >
                    <h4>Pull request time to first team mate interaction per sprint</h4>
                    <p class='metric_explanation'>How long does it take until somebody other than the author comments on or reviews a pull request?</p>
                    <div class='chart-canvas-container'>
                        <canvas
                          class='svg-container chart-canvas'
                          data-metric='Pull request time to first interaction of other team members in hours'
                        ></canvas>
                    </div>
                    <div
                      class='chart-statistics-container'
                      data-metric='Pull request time to first interaction of other team members in hours'
                    ></div>
                </div>

                <hr class='border-3 border-bottom' />

                <div
                  class='chart_container'
                  id='pr_first_review_time'
                >
                    <h4>Pull request time to first review per sprint</h4>
                    <p class='metric_explanation'>How long does it take, until somebody other than the author reviews a new pull request?</p>
                    <div class='chart-canvas-container'>
                        <canvas
                          class='svg-container chart-canvas'
                          data-metric='Pull request time to first review in hours'
                        ></canvas>
                    </div>
                    <div
                      class='chart-statistics-container'
                      data-metric='Pull request time to first review in hours'
                    ></div>
                </div>
            </div>
            <div
                class='tab-pane'
                id='commits'
                role='tabpanel'
                aria-labelledby='nav-commits-tab'
            >
                <div class='chart_container' id='commit_times_container'>
                    <h4>Commit times</h4>
                    <p class='metric_explanation'></p>
                    <div class='chart-canvas-container'>
                        <canvas
                            class='svg-container chart-canvas'
                            data-metric='Commit times'
                        ></canvas>
                    </div>
                    <div
                        class='chart-statistics-container'
                        data-metric='Commit times'
                    ></div>
                </div>

                <hr class='border-3 border-bottom' />

                <div class='chart_container' id='commit_amounts_container'>
                    <h4>Commit amounts per sprint</h4>
                    <p class='metric_explanation'>On average, how many commits do you push and how many changes (additions+deletions) do they contain?</p>
                    <div class='chart-canvas-container'>
                        <canvas
                            class='svg-container chart-canvas'
                            data-metric='Commit amounts per sprint'
                        ></canvas>
                    </div>
                    <div
                        class='chart-statistics-container'
                        data-metric='Commit amounts per sprint'
                    ></div>
                </div>
            </div>
            <div
                class='tab-pane'
                id='issues'
                role='tabpanel'
                aria-labelledby='nav-issues-tab'
            >
                <div class='chart_container' id='issues_sizes_in_buckets_container'>
                    <h4>Issue sizes</h4>
                    <p class='metric_explanation'></p>
                    <div class='chart-canvas-container'>
                        <canvas
                            class='svg-container chart-canvas'
                            data-metric='Issue sizes'
                        ></canvas>
                    </div>
                    <div class='chart-statistics-container' data-metric='Issue sizes'></div>
                </div>

                <hr class='border-3 border-bottom' />

                <div class='chart_container' id='issues_sizes_container'>
                    <h4>Issue sizes in buckets</h4>
                    <p class='metric_explanation'></p>
                    <div class='chart-canvas-container'>
                        <canvas
                            class='svg-container chart-canvas'
                            data-metric='Issue sizes in buckets'
                        ></canvas>
                    </div>
                    <div
                        class='chart-statistics-container'
                        data-metric='Issue sizes in buckets'
                    ></div>
                </div>

                <hr class='border-3 border-bottom' />

                <div class='chart_container' id='issues_submit_times_container'>
                    <h4>Issue submit times</h4>
                    <p class='metric_explanation'></p>
                    <div class='chart-canvas-container'>
                        <canvas
                            class='svg-container chart-canvas'
                            data-metric='Issue submit times'
                        ></canvas>
                    </div>
                    <div
                        class='chart-statistics-container'
                        data-metric='Issue submit times'
                    ></div>
                </div>

                <hr class='border-3 border-bottom' />

                <div class='chart_container' id='top_issue_submitters_container'>
                    <h4>Top issue submitters</h4>
                    <p class='metric_explanation'></p>
                    <div class='chart-canvas-container'>
                        <canvas
                          class='svg-container chart-canvas'
                          data-metric='Top issue submitters'
                        ></canvas>
                    </div>
                    <div
                      class='chart-statistics-container'
                      data-metric='Top issue submitters'
                    ></div>
                </div>

            </div>
        </div>
    </div>
</div>

<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/toastify-js'></script>
<script type='module'>
    import Config from '../config.js'
    import { metrics } from '../metrics.js'

    let config = Config.from_storage()

    document
        .getElementById('button_navigate_home')
        .addEventListener('click', (event) => event.preventDefault())
    document
        .getElementById('button_navigate_teams')
        .addEventListener('click', () => config.to_storage_storage())
    document
        .getElementById('button_navigate_sprint')
        .addEventListener('click', () => config.to_storage_storage())
    document
        .getElementById('button_navigate_settings')
        .addEventListener('click', () => config.to_storage_storage())

    const overlay = document
      .getElementById('overlay')

    async function initializeChart(
        chartClass,
        canvas,
        statistics_container,
        data_retrieval_function,
        sprint_segmented,
        title,
        data_title,
        config
    ) {
        const chart = new chartClass({
            canvas: canvas,
            statistics_container: statistics_container
        })
        chart.data = await data_retrieval_function(config, sprint_segmented)
        chart.title = title
        chart.data_title = data_title
        chart.config = config
        chart.draw()
    }

    async function initialize() {
        const canvases = [...document.getElementsByClassName('chart-canvas')]
        const statistic_containers = [
            ...document.getElementsByClassName('chart-statistics-container')
        ]
        const groups = {}

        canvases.forEach((canvas) => {
            if (!groups[canvas.dataset.metric]) {
                groups[canvas.dataset.metric] = {}
            }
            groups[canvas.dataset.metric].canvas = canvas
        })
        statistic_containers.forEach((container) => {
            if (!groups[container.dataset.metric]) {
                groups[container.dataset.metric] = {}
            }
            groups[container.dataset.metric].statistics_container = container
        })

        const promises = []
        for (const metric_name of Object.keys(groups)) {
            const metric = metrics[metric_name]
            const group = groups[metric_name]
            promises.push(
                initializeChart(
                    metric.chart_class,
                    group.canvas,
                    group.statistics_container,
                    metric.data_retrieval_function,
                    metric.sprint_segmented,
                    metric_name,
                    metric_name,
                    config
                )
            )
        }

        await Promise.all(promises)
        overlay.style.visibility = "hidden"
    }

    if (!config.github_access_token || !config.organization || !config.repository) {
        Toastify({
            text: 'Please load a config or configure your project via the settings tab.',
            duration: -1,
            gravity: 'top',
            position: 'center',
            backgroundColor: '#cc3300',
            offset: {
                x: 0,
                y: 50
            }
        }).showToast()
    } else {
        initialize()
    }
</script>

<script src='../external/bootstrap.js'></script>
</body>
</html>
