<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>

    <link
        crossorigin="anonymous"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        rel="stylesheet"
    />
    <link
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        rel="stylesheet"
    />
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="navbar-brand">Agile Metrics</div>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link"
                   href="home.html"
                   id="button_navigate_home"
                >
                    <i class="fa fa-home" aria-hidden="true"></i>
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="team/overview.html"
                   id="button_navigate_teams"
                >
                    Teams
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link"
                   href="settings.html"
                   id="button_navigate_settings"
                >
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                    Settings
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="card container" id="settings_container">
    <div class="card-header">
        <h3>Settings</h3>
    </div>
    <div class="form-group card-body">
        <div class="input-group">
            <label for="input_config_file">Load config file:</label>
            <input
                accept=".json"
                class="form-control-inline"
                id="input_config_file"
                type="file"
            />
            <button class="btn btn-outline-secondary" id="button_download_config">
                Download config
            </button>
        </div>

        <br />

        <div class="input-group">
            <label for="input_organization">Organization:</label>
            <input class="form-control" id="input_organization" type="text" />
        </div>

        <br />

        <div class="input-group">
            <label for="input_repository">Repository:</label>
            <input class="form-control" id="input_repository" type="text" />
        </div>
    </div>
</div>

<script type="module">
    import Config from '../config.js'

    let config = Config.from_session_storage()

    const inputs = {
        input_config_file: document.getElementById("input_config_file"),
        button_download_config: document.getElementById("button_download_config"),
        input_organization: document.getElementById("input_organization"),
        input_repository: document.getElementById('input_repository')
    }

    document.getElementById("button_navigate_home").addEventListener('click', () => config.to_session_storage())
    document.getElementById("button_navigate_teams").addEventListener('click', () => config.to_session_storage())
    document.getElementById("button_navigate_settings").addEventListener('click', event => event.preventDefault())

    inputs.input_config_file.addEventListener("change", (event) =>
        Config.from_file(event.target.files[0], (_config) => {
            config = _config
            initialize(config)
        })
    )

    inputs.button_download_config.addEventListener("click", () => {
        let content = config.toString();

        let element = document.createElement("a");
        element.setAttribute(
          "href",
          "data:text/plain;charset=utf-8," + encodeURIComponent(content)
        )
        element.setAttribute("download", "config.json");

        element.style.display = "none";
        document.body.appendChild(element);

        element.click();

        document.body.removeChild(element);
    })

    inputs.input_organization.addEventListener("change", () => {
        config.organization = inputs.organization.value;
    })

    inputs.input_repository.addEventListener("change", () => {
        config.repository = inputs.repository.value;
    })

    function initialize(config) {
        inputs.input_organization.value = config.organization
        inputs.input_repository.value = config.repository
    }

    initialize(config)
</script>
</body>
</html>
